/* font-family: 'Calistoga', cursive;
font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif; */

body {
  height: auto;
  width: auto;
  background-color: antiquewhite;
  font-size: 20px;
  /* border: solid; */
  margin: 40px;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: antiquewhite; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}

h1 {
  margin-top: 50;
  font-family: "Calistoga", cursive;
  text-align: center;
}

h2 {
  font-family: "Courgette", cursive;
}

h1,
h2 {
  text-align: center;
}

ul,
li {
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.75em;
  padding: 20px;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eed7c5;
  height: 65px;
  margin: 10px 0;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

li::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}
li::-webkit-scrollbar-track {
  background: #eed7c5; /* color of the tracking area */
  border-radius: 20px; /* roundness of the scroll thumb */
}
li::-webkit-scrollbar-thumb {
  background-color: black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid black;  creates padding around scroll thumb */
}
li:nth-child(even) {
  background-color: #e8d2ae;
}

li:hover {
  box-shadow: 0 5px 5px black;
}

.listBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: AUTO;
  margin-right: AUTO;
}

button {
  display: inline-block;
  border: 0;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: white;
  outline: none;
}

button:hover {
  box-shadow: 0 5px 5px grey;
}

input {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  flex-grow: 2;
  padding-left: 20px;
  padding-right: 60px;
  border: 0;
  outline: none;
}

input:focus {
  border: 0;
  outline: none;
  box-shadow: 0 5px 5px grey;
}

.ListContainer{
  border: solid;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  height:100vh;
}

/*TO DO LIST*/

#todoList button,
#finishedList button {
  float: right;
}

#trash {
  margin-right: 10px;
}

/*button images*/
#done img,
#trash img {
  display: block;
  height: 35px;
  width: 35px;
}
#add img {
  display: block;
  height: 65px;
  width: 65px;
}
#add {
  margin-left: -40px;
}
#done button {
  border-radius: 40px;
}
